In [5]:
__author__ = 'Evgeny BAZAROV'

FOLDER = "/home/evgeny/kaggle/input/"

import numpy as np
import pandas as pd
from math import radians

pd.set_option("display.max_columns", 99)

FOLDER = "/home/evgeny/kaggle/input/"

def haversine(pddata, lon1='', lat1='', lon2='', lat2=''):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians
    lon1 = pddata[lon1].apply(radians).values
    lat1 = pddata[lat1].apply(radians).values
    lon2 = pddata[lon2].apply(radians).values
    lat2 = pddata[lat2].apply(radians).values

    # haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat / 2) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2) ** 2
    c = 2 * np.arcsin(np.sqrt(a))
    r = 6371  # Radius of earth in kilometers. Use 3956 for miles
    return c * r

In [6]:
print("Loading...")
print("----- LOAD train_merged-part1")
pdtrain1 = pd.read_hdf(FOLDER + "train_merged-part1.h")
print("----- LOAD train_merged-part2")
pdtrain2 = pd.read_hdf(FOLDER + "train_merged-part2.h")
pdtrain = pdtrain1.append(pdtrain2)
print("----- LOAD test_merged")
pdtest = pd.read_hdf(FOLDER + "test_merged.h")
pd_data = pdtrain.append(pdtest)

del pdtrain1
del pdtrain2

print("DONE")

Loading...
----- LOAD train_merged-part1
----- LOAD train_merged-part2
----- LOAD test_merged
DONE

In [ ]:
pd_data.head()

In [7]:
print("Replacing NaN")
pd_data['title_1'].fillna("", inplace=True)
pd_data['title_2'].fillna("", inplace=True)
pd_data['description_1'].fillna("", inplace=True)
pd_data['description_2'].fillna("", inplace=True)
pd_data['attrsJSON_1'].fillna("", inplace=True)
pd_data['attrsJSON_2'].fillna("", inplace=True)
pd_data['images_array_1'].fillna("", inplace=True)
pd_data['images_array_2'].fillna("", inplace=True)

Replacing NaN

In [10]:
# feature dataframe
pd_features = pd.DataFrame()

In [11]:
# titles
pd_features['title_diff_len'] = np.abs(pd_data['title_2'].apply(len) - pd_data['title_1'].apply(len))
pd_features['title_dlevenshtein'] = pd.read_hdf(FOLDER + "feat_train_title_demarauleven.h")
pd_features['title_jarowinkler'] = pd.read_hdf(FOLDER + "feat_train_title_jarowinkler.h")
pd_features['title_num_same'] = pd.read_hdf(FOLDER + "feat_train_title_num_same.h")
pd_features['title_1_len'] = pd_data['title_1'].str.len()
pd_features['title_2_len'] = pd_data['title_2'].str.len()

# description
pd_features['description_diff_len'] = np.abs(pd_data['description_2'].apply(len) - pd_data['description_1'].apply(len))
pd_features['description_dlevenshtein'] = pd.read_hdf(FOLDER + "feat_train_description_demarauleven.h")
pd_features['description_jarowinkler'] = pd.read_hdf(FOLDER + "feat_train_description_jarowinkler.h")
pd_features['description_1_len'] = pd_data['description_1'].str.len()
pd_features['description_2_len'] = pd_data['description_2'].str.len()


# price
pd_features['price_same'] = 1 * (pd_data['price_1'] == pd_data['price_2'])
pd_features['price_diff'] = np.abs(pd_data['price_1']-pd_data['price_2'])*1./(np.abs(pd_data['price_1']) + np.abs(pd_data['price_2']))
pd_features['price_diff'].fillna(-9999, inplace=True)


# attrJson
pd_features['attrsJSON_diff_len'] = np.abs(pd_data['attrsJSON_1'].apply(len) - pd_data['attrsJSON_2'].apply(len))
pd_features['attrsJSON_dlevenshtein'] = pd.read_hdf(FOLDER + "feat_train_attrsJSON_demarauleven.h")
pd_features['attrsJSON_jarowinkler'] = pd.read_hdf(FOLDER + "feat_train_attrsJSON_jarowinkler.h")
pd_features['attrsJSON_1_len'] = pd_data['attrsJSON_1'].str.len()
pd_features['attrsJSON_2_len'] = pd_data['attrsJSON_2'].str.len()


# images_array
pd_features['images_diff_number'] = np.abs(pd_data['images_array_1'].apply(lambda x: len(x.split(',')))-pd_data['images_array_2'].apply(lambda x: len(x.split(','))))

# geographic features
pd_features['metroID_same'] = 1 * (pd_data['metroID_1'] == pd_data['metroID_2'])
pd_features['locationID_same'] = 1 * (pd_data['locationID_1'] == pd_data['locationID_2'])
pd_features['regionID_same'] = 1 * (pd_data['regionID_1'] == pd_data['regionID_2'])
pd_features['haversine'] = haversine(pd_data, lon1='lon_1', lat1='lat_1', lon2='lon_2', lat2='lat_2')
pd_features['haversine'] = (pd_features['haversine'] - pd_features['haversine'].mean()) / pd_features['haversine'].std()

pd_features['categoryID_same'] = 1 * (pd_data['categoryID_1'] == pd_data['categoryID_2'])
#pd_features['parentCategoryID_same'] = 1 * (pd_data['parentCategoryID_1'] == pd_data['parentCategoryID_2'])

pd_features['isDuplicate'] = pd_data['isDuplicate']
pd_features['id'] = pd_data['id']

In [12]:
pd_features.head()

,title_diff_len,title_dlevenshtein,title_jarowinkler,title_num_same,title_1_len,title_2_len,description_diff_len,description_dlevenshtein,description_jarowinkler,description_1_len,description_2_len,price_same,price_diff,attrsJSON_diff_len,attrsJSON_dlevenshtein,attrsJSON_jarowinkler,attrsJSON_1_len,attrsJSON_2_len,images_diff_number,metroID_same,locationID_same,regionID_same,haversine,categoryID_same,isDuplicate,id
0,0,0.000000,1.000000,1,17,17,0,0.000000,1.000000,25,25,1,0.000000,0,0.000000,1.000000,27,27,1,0,1,1,-0.205083,1,1.0,NaN
1,13,0.666667,0.396825,1,21,8,116,0.666667,0.396825,164,48,0,0.200000,0,0.666667,0.396825,35,35,1,0,1,1,-0.205083,1,0.0,NaN
2,15,0.695652,0.390700,1,8,23,11,0.695652,0.390700,48,37,0,0.090909,0,0.695652,0.390700,35,35,1,0,1,1,-0.205083,1,0.0,NaN
3,0,0.000000,1.000000,1,27,27,204,0.000000,1.000000,107,311,0,0.068826,0,0.000000,1.000000,359,359,5,0,1,1,-0.205083,1,1.0,NaN
4,0,0.000000,1.000000,1,27,27,91,0.000000,1.000000,311,220,0,0.068826,717,0.000000,1.000000,359,1076,6,0,1,1,-0.205083,1,1.0,NaN

In [ ]:
pd_features.shape

In [13]:
pd_features.to_hdf("D1_23may.p", 'w')